

.bg-white{
    background-color: white;
}

.c-white{
    color: white;
}


.border-shadow{
    box-shadow: 0px 0px 1px 1.5px $border-shadow-light 
}

.border-shadow-title{
    box-shadow: 0px 0px 2px 1px $border-shadow-strong
}